// Fonts
$primary-font-family: Avenir-Book, Helvetica, Arial, sans-serif;
$secondary-font-family: PPNeueMachina;
$white: #ffffff;
$bg-color: rgba(61, 61, 184, 0.15);

// Black
$black: #000000;
$black-800: #000212;

// Purple
$purple-200: rgb(61, 61, 184);
$purple-500: #e8e8ff;
$purple-700: #3d3db8;
$purple-800: #2e2e8a;

// Gray
$gray-200: #c2c4cd;
$gray-500: #f9f9f9;
$gray-700: #444653;
$gray-800: #71758a;

//Red
$red-50: #ffcccc;
$red-700: #cc0000;
$red-800: #7a0000;

